<div class="aboutback">
  <div></div>
<div class="container">
  <div class="row row flex-wrap">
    <div class="col-12 text-center mt-3 text-white">
      <h2>About</h2>
      <p>ガウラジンギスカンは、ジンギスカンともつ鍋がメインの酒場</p>
      <p>卓上ハイボール飲み放題もあります。</p>
      <p>そしてこちらのホームページでは、レビュー投稿や掲示板を通じてお客様同士の交流も可能となります。</p>
      <p>お客様と一緒に地域に根差したお店にしていければ幸いです。</p>
    </div>
    <div class="col-12 mt-3">
      <%= image_tag "jinjin" %>
    </div>
  </div>
</div>
</div>