
<div class="niku">
  <div></div>
  <div class="container">
    <div class="square ">
    <div class="text-center">
      <h2>ようこそガウラジンギスカンへ！！</h2>
      <h5>ガウラジンギスカンのホームページになります。</h5>
      <h5>こちらのホームページでは投稿を通してお客様同士のコミュニティの場を提供しております。</h5>
    </div>
    
    <div class="text-center">
      <div>
        <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary col-md-3 mt-2", method: :post %>
      </div>
      <div>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success col-md-3 mt-2" %>
      </div>
      <div>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-info col-md-3 mt-2" %>
      </div>
    </div>
    </div>
  </div>
</div>