<div class="communityback">
  <div>
    <br>
  </div>
<div class="container">
  <div class='row'>
      <h1 class="logo text-white" style="font-family: Darumadrop One;">コミュニティいちらん</h1>
      
      <table class="table mt-3">
        <tr>
          <th class="col-4 text-white">コミュニティ名</th>
          <th class="text-white">説明</th>
          <th></th>
        </tr>
      <% @communities.each do |community| %>
        <tr>
          <td class="col-4 text-white"><%= community.name %></td>
          <td class="text-white"><%= community.explanation %></td>
          <td><%= link_to "掲示板へ", community_post_boards_path(community),class:"btn btn-primary" %></td>
        </tr>
      <% end %>
      </table>
  </div>
</div>

</div>