@use '~bootstrap/scss/bootstrap';


@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}
 
.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}
 
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

.swiper-slide img {
  //height: 30vh;
  width: 100%;
}

.log {
  font-family: 'Darumadrop One';
}

// トップに戻るボタンの親要素
#back {
  position: fixed;
  // 画面上での位置を固定
  right: 20px;
  bottom: 20px;
}
// トップに戻るボタンのクラス
.scroll-top-btn {
  display: none;
  // 初期状態では非表示
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  // 他の要素よりも前面に表示されるようにする
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  color: black;
  cursor: pointer;
  // マウスカーソルをポインターに変更
  padding: 15px;
  border-radius: 4px;
}
// マウスがボタン上に乗った時のスタイルを指定
.scroll-top-btn:hover {
  background-color: #555;
  color: white;
}
