<div class="container mt-5">
<h3>コメント一覧</h3>
<table class="table mt-3">
  <tr>
    <th class="col-3">名前</th>
    <th class="col-8">コメント</th>
    <th class="col-2"></th>
  </tr>
<% @review_comments.each do |review_comment| %>
  <tr>
    <td class="col-3"><%= @users.find(review_comment.user_id).name %></td>
    <td class="col-8"><%= review_comment.comment %></td>
    <td class="col-2">
    <%= link_to '削除', admin_review_comment_path(review_comment), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-sm btn-danger" %>
    </td>
  </tr>
<% end %>
</table>

</div>

