<%= flash[:notice] %>
<div class="container">
<h3 class="mt-5">会員一覧</h3>

<table class="table mt-3">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>名前</th>
      <th></th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= link_to "詳細", admin_user_path(user.id) %></td>
        <td>
          <% if user.is_active? %>
            <div class="text-success font-weight-bold">有効</div>
          <% else %>
            <div class="text-muted font-weight-bold">退会</div>
          <% end %>
        </td>  
      </tr>
    <% end %>
  </tbody>
</table>
</div>